{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": "pomo",
  "globals": {
    "__DEVELOPMENT__": true,
    "__CLIENT__": true,
    "__SERVER__": true,
    "__DISABLE_SSR__": true,
    "__DEVTOOLS__": true,
    "Promise": true,
    "webpackIsomorphicTools": true
  },
  "parser": "babel-eslint",
  "plugins": ["react", "import"],
  "rules": {
    "no-param-reassign": 0
  },
  "settings": {
    "import/parser": "babel-eslint",
    "import/resolve": {
      moduleDirectory: ["node_modules", "src"]
    }
  }
}
