{
  "ecmaFeatures": {
    "modules": true,
    "jsx": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "extends": "pomo",
  "globals": {
    "__DEVELOPMENT__": true,
    "__CLIENT__": true,
    "__SERVER__": true,
    "__DISABLE_SSR__": true,
    "__DEVTOOLS__": true,
    "socket": true,
    "webpackIsomorphicTools": true
  },
  "parser": "babel-eslint",
  "plugins": ["babel", "react"],
  "rules": {
    "import/default": 0,
    "import/no-duplicates": 0,
    "import/named": 0,
    "import/namespace": 0,
    "import/no-unresolved": 0,
    "import/no-named-as-default": 0
  },
  "settings": {
    "import/resolve": {
      moduleDirectory: ["node_modules", "src"]
    }
  }
}
