@import '../../theme/variables.scss';

a {
  cursor: pointer;
  transition: 125ms color;
}

.btn {
  background-color: $brand-primary;
  border: 2px solid $brand-primary;
  color: white;
  &, & .glyphicon {
    transition: border-color 125ms ease-in-out, color 125ms ease-in-out;
  }

  &:focus, &:active, &.active {
    border-color: $brand-pi-25;
    color: $brand-pi-25;
    outline: none;
  }
}

ul { padding-left: 0; }

.app {

}
